doctype html
html
  head
    title sorry mommy
    block scripts
    block style 
    


  nav#navbar.top
    ul
      div#logo
          | NFT
          img(src="static/IMG/logo.png", alt="")
     
 
      li #[a(href="/") Home]
      li #[a(href="/") about]
      li #[a(href="/") contact]
      li #[a(href="/") services]

body 



    block content
    footer#footer
        | Copyright 2022 Abhiiixs  | All Rights Reserved