
doctype html
html
  head
    style
      include ../static/style.css





body  



  nav#navbar.top 
    ul
      div#logo
          | NFT
          img(src="static/IMG/logo.png", alt="")
     
 
      li #[a(href="/") Home]
      li #[a(href="/") about]
      li #[a(href="/contact") contact]
      li #[a(href="/") services]
    hr

    section#introsection
      div  Welcome to our GYM 
      div  Join us now 


    section#missionsection 
     h2   Our mission

     div.card
        h3 NFT

        div.card-box 
         div.card-img
        //- img(src="static/img/nft (4).png", alt="")
        div.card-content
        p This is your Daddy ethrium
        

        

     div.card
        h3 Okay man shut the fuckup 
      
        div.card-box 
         div.card-img
        //- img(src="static/img/nft (4).png", alt="")
        div.card-content
        p This is your Daddy ethrium
         

     div.card
        h3 Okay man shut the fuckup 
         
        div.card-box 
         div.card-img
        //- img(src="static/img/nft (4).png", alt="")
        div.card-content
        p This is your Daddy ethrium

    #sponsorsection 
  
      div#sponsors 
       h2   Our sponsor
    img(src="static/img/nft (4).png", alt="sp img", class="spimg")
    img(src="static/img/nft (4).png", alt="sp img", class="spimg")
    img(src="static/img/nft (4).png", alt="sp img", class="spimg")

    
#footer 
     | Copyright 2022 Abhhixs| All Rights Reserved

